@page
@using Org.OpenAPITools.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>My Timeline</h2>
@if(HttpContext.Session.GetString("Logged_In_Username") != null)
{
  <div class=twitbox>
        <h3>What's on your mind @HttpContext.Session.GetString("Logged_In_Username")?</h3>
        <form action="/add_message" method="post">
          <p><input type="text" name="Text" size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
}
<ul class="messages">
@if (Model.Messages != null)
{
  @if(Model.Messages.Any()) 
  {
    @foreach (Message message in Model.Messages)
    {
    <li>
      <img src="@MiniTwit.Get_Gravatar_Url(message.User ?? "Default", 48)" />
        <p>
        <strong><a href="/@message.User">@message.User</a></strong>
        @message.Content
        <small>
            — @message.PubDate
        </small>
        </p>
    </li>
    }
  }
}
else {
    <li><em>There's no message so far.</em></li>
}
</ul>
