@page "/public"
@using Org.OpenAPITools.Models
@model PublicTimelineModel

<h2>Public Timeline</h2>
<ul class="messages">

@if (Model?.Messages != null) {
  @foreach (Message message in Model.Messages)
  {
    <li>
      <img src="@MiniTwit.Get_Gravatar_Url(@message.User ?? "Default", 48)" />
      <p>
        <strong><a href="/@message.User">@message.User</a></strong>
        @message.Content
        <small>
          — @message.PubDate
        </small>
      </p>
    </li>
  }

}
else 
{
  <p><em>There's no message so far.</em></p>
}
</ul>